header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../images/shopping.jpg') no-repeat center/cover;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.categories .category {
    padding: 4px;
    border: 1px solid #3c3c3c;
    color: #fff;
}

.categories .category:hover {
    color: #222;
    background: #fff;
    transition: .5s;
}